body{
    background:#456392;
    font-family: 'Mulish', sans-serif;

}
div{
    background:white;
    max-width: 608px;
    border-radius:20px;
    margin: 30px auto;
    text-align:center;
    padding-top: 64px;
    padding-bottom:90px;
}
img{
    border-radius:50%;
    border: 15px solid #ECF3FC;
    margin-bottom:44px;
}
h1{
    font-weight: bold;
    color:#131E30;
    font-size: 48px;
    line-height:60px;
    margin-bottom:5px;
}
.firstparaf{
    margin-top:92px;
}
p,span{
    font-size:36px;
}
p{
    margin-top:0px;
    margin-bottom:0px;
}